body{
	background: white;
	color: black;
	font-size: 16px;
}
	a { 
	color: #2B2D42;
}
a:hover{
	text-decoration: none;
}

header, footer{
	background: lightblue;
}
header h1 ,header h2 {
	color:white;
}
h2{
	color:#2B2D42;
}
h3 {
	color:lightblue;
}
